[2015-08-20 03:54] eliza411 opened #1 "Installing Narrafirma"
I'm finally trying my hand at installing Narrafirma. I don't see any detailed install instructions yet, so I'm kind of fumbling around.

I'm setting up in a Debian-based Docker environment. I'm not trying to containerize Narrafirma or anything, just using a container for [Wordpress and Mariadb via docker-compose](https://hub.docker.com/_/wordpress/).

So far I've:
- Set up Wordpress and Mariadb
-

[2015-08-20 19:18] pdfernhout commented on #1
@eliza411 Melissa- Thanks for talking with Cynthia about NarraFirma and for trying it out. Sounds like you are very close to making it work. Below are some troubleshooting suggestions. Please let me know how you progress on this or if I can be of more help in troubleshooting this (even by Skype if it helps).

If the NarraFirma web application is not getting beyond the "Please Wait" stage in the br

[2015-08-21 06:13] eliza411 commented on #1
Thanks @pdfernhout!

I was indeed very close at the tail end of a very long day.

I set down to troubleshoot tonight, and it was easy to see the problem.

I had run the `tsc` command, but with `tsconfig.json` copied inside the WebContent directory, a new WebContent directory was created, resulting in `wp-content/plugins/narrafirma/WebContent/WebContent/js`

I deleted the extra directory, put `tsco

[2015-08-21 13:53] pdfernhout opened #2 "Create a build script to make a WordPress plugin"
There should be an easier way to make a WordPress plugin for installation than the manual process outlined in wordpress-plugin/README.md. This is a spinoff from issue #1.

[2015-08-21 14:48] pdfernhout commented on #2
My original plan had been to use npm to build the WordPress plugin using [this approach](http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/). As I think about the WordPress build process, there really is no specific reason a WordPress or Drupal developer might have npm installed already though. So, maybe there might be better approaches for building PHP plugins than asking someone to in

[2015-08-21 14:51] pdfernhout commented on #1
@eliza411 Thanks for the update. Glad to hear about your progress!  A Dockerfile sounds useful; feel free to submit a pull request with one.

When I first wrote the directions for the plugin and copying the WebContent directory, the application was still in plain JavaScript, not TypeScript, so copying that directory would always give you the latest files. Based on your report, I see now that with

[2015-08-21 16:00] pdfernhout commented on #2
It seems that PHP-based CiviCRM used Node.js as part of its current build process (as from around the begining of 2015) and now lists Node.js as a [requirement](https://github.com/civicrm/civicrm-buildkit) (even if it is not used in all the tools). See also [here](https://civicrm.org/blogs/totten/new-46-dev-composer-and-nodejs):

So that's another datapoint suggesting it is reasonable to require N

[2015-08-21 16:16] pdfernhout commented on #2
I've been thinking more about changing the file layout to help make the build process easier.

I've looked as several WordPress plugins available on GitHub [here](https://github.com/wp-plugins) which are [mirrored](http://www.pluginmirror.com/) from the WordPress plugin SVN. Of the few I've looked at at random, it seems they all have the format of having the plugin PHP file at the top level. I am

[2015-08-21 19:35] pdfernhout commented on #2
For future reference, here are some [scripts](https://github.com/dd32/Github-to-WordPress-Plugins-Sync) to sync GitHub to the WordPress plugin SVN repository. Presumably they could also be modified to selectively copy files or to do other build processes like TypeScript compilation? Or, perhaps a Node.js npm command could relatively easily be created to do much the same, since most of what they do

[2015-08-23 02:58] pdfernhout commented on #2
I have created a first cut at a build script using npm. It probably works only under Mac and Linux -- or Windows with a bash-like shell that supports commands like "cp", "mkdir", and so on. (For future reference, adding the [shelljs](https://www.npmjs.com/package/shelljs) package or something similar as a development dependency could be a way around this limitation for Windows.)

The command is "n

[2015-08-23 03:06] pdfernhout commented on #1
@eliza411 I've made a first-cut at a build script to create a zip file so others will have an easier time than you did as a trailblazer. Thanks again for trying it -- rough edges and all -- as your experience was helpful in figuring out priorities and next steps.

Details on the "npm run build-wp" command are in the [latest comment](https://github.com/pdfernhout/narrafirma/issues/2#issuecomment-13

[2015-08-23 12:21] pdfernhout commented on #2
@eliza411 If you try the build script with your most recent setup from following the previous manual build approach, you may see a TypeScript compile error related to duplicate symbols. To prevent that error, you would need to delete the copy of WebContent you made under the narrafirma directory (assuming you have not made any changes to that code).

That error is because TypeScript seems to be tr

[2015-10-19 17:22] eliza411 opened #3 "Superuser password directions"
Quick note: The directions for setting the superuser password on https://narrafirma.com/home/setting-up-narrafirma-on-your-local-computer/ say 'npm admin.js' but should read 'node  admin.js'.

[2015-10-19 22:08] cfkurtz commented on #3
Fixed. Thank you :)

[2015-10-19 22:08] #3 closed, assigned to cfkurtz

[2015-10-21 16:38] eliza411 opened #4 "Question short name truncated on export"
Expected behavior: When I enter a short name for a question about a story and export questions, I expect the whole name to be exported.

Exhibited behavior: The short name for the "Eliciting question" is exported fully but the first two letters of short name of story questions are missing, at least for Radiobuttons, Scale, and Multiple choice. I've not tested other formats but imagine it's the sam

[2015-10-21 17:00] eliza411 opened #5 "Deleting test stories?"
I'm not seeing a way to delete test stories. I see that I can ignore them. It looks like the best way to start clean is to delete the Story Collection and rebuild it using the same form. This doesn't seem so bad for the testing phase, but is that how it's supposed to work or have I missed a permission somewhere?

[2015-10-21 19:20] pdfernhout commented on #5
Yes, is is supposed to work that way. There was a design choice to never delete data. Obviously, one can always question if that was a good design choice. :-)

#### More details

That design choice hopefully does make the system more reliable -- to have essentially an append-only data storage design. The ignore field is conceptually somewhat like databases that mark a row as deleted but don't actu

[2015-10-21 19:27] pdfernhout commented on #4
Thanks for reporting this. I previously added code that trims the first two letters of question IDs in some cases to remove the "S_", "P_" or "A_" prefixes used internally to distinguish different question types (Story, Participant, or Annotation). Likely I made a mistake somewhere and trim that in a case when I should not, resulting in the loss of information during export. I'll look into it righ

[2015-10-22 01:01] pdfernhout commented on #4
Thanks again for reporting this. This issue is fixed in v0.9.3.

[2015-10-22 01:01] #4 closed, assigned to pdfernhout

[2015-10-22 01:07] pdfernhout commented on #2
@eliza411The build script seems to be consistently working OK for me and Cynthia. So I am closing this issue. Feel free to open another one if the build script is not working for you.

[2015-10-22 01:07] #2 closed, assigned to pdfernhout

[2015-10-22 01:18] pdfernhout commented on #1
@eliza411 Thanks again for bringing this issue up, as things are much better now with a build script for the WordPress plugin. Install seems to be working OK for both Cynthia and me, and you have reported install success separately (also implied by reports to other issues). Pre-made zip files are also available on the releases page, and more detailed install instructions are on the NarraFirma web

[2015-10-22 01:18] #1 closed, assigned to pdfernhout

[2015-10-22 01:26] pdfernhout commented on #5
Cynthia does not think the checkboxes are needed, so I am deferring them for now. I'm referring this to her for improving the documentation based on what I wrote above.

[2015-10-22 18:16] eliza411 commented on #5
My question was pretty much about how data deletion works more than how it should work or how I need it to work. I'm looking at the story collection and catalysis portions and wrapping m head around what a workflow might look like. For now, I can use import/export functionality to achieve what I need, starting with a fresh install once I have things the way I want them. The use case for evaluating

[2015-10-23 00:35] eliza411 opened #6 "Scale questions don't export scale labels"
Expected Behavior: When exporting story forms containing scale questions, I expect that the first two columns in "Answers" would be the left and right scale labels (in that order).

Exhibited Behavior: Order, Long name, short name, Type, and About all have values, but there are no other values.

I'm not sure what I expect is exactly right, but I did figure that the labels would be somewhere in the

[2015-10-23 00:53] eliza411 opened #7 "No response to a scale question represented as far left-hand value"
Expected Behavior: If a user fills out a form and does not move the slider on a scale question, I'd expect when reviewing the incoming story it would either display a special no response-style value or not display the marker.

Exhibited Behavior: Right now, the scale indicator defaults to the left-hand extreme.

Steps to reproduce: Create a slider question, fill out a survey, then review on the in

[2015-10-23 01:45] eliza411 opened #8 "Preview the question form doesn't display in Chrome"
The "Preview question form" link on the Design story forms page leads to something like: http://localhost:8080/survey.html#preview=2015-10-23T01:32:31.854Z and is always blank in Chrome Version 45.0.2454.93 (64-bit) on Debian. It displays fine in IceWeasel/Firefox.

[2015-10-23 13:29] pdfernhout opened #9 "Unexpected behavior for questions with HTML"
This issues is to document unexpected behavior for HTML in questions mentioned via email by @eliza411. I am referring this to Cynthia to ensure this behavior is documented in the main help eventually.

To prevent cross-site scripting (XSS) risks when hosting projects for others, only certain HTML tags are allowed, and of those, no attributes are allowed. See sanitizeHTML.ts for a complete list of

[2015-10-24 02:05] pdfernhout commented on #8
@eliza411 The "Preview Question Form" seemed to work OK in Chrome for me on Mac OS X 10.6.8 with these two slightly later Chrome versions:
Version 46.0.2490.71 (64-bit)
Version 46.0.2490.80 (64-bit)

Are there any suspicious related console log messages (View / Developer / JavaScript Console) for either the main application window or the preview window?

There probably should not be anything logge

[2015-10-24 02:12] pdfernhout commented on #6
I have duplicated this bug and I will fix it. Thanks for reporting it!

[2015-10-24 23:33] pdfernhout commented on #8
@eliza411 As another datapoint, I tested the "Preview question form" button on a Chromebook, running Chrome 45.0.2454.98 (64-bit) and the preview page displayed OK, as did two other child pages mentioned below. So, that is a Chrome version with a very similar build number to the one the issue was reported for, as well as one running under a Linux variant (but not exactly Debian), and it worked OK.

[2015-11-18 12:14] sidneygijzen opened #10 "NarraFirma NodeJS app doesn't load"
Hello,

I'm helping a business associate to get the NarraFirma app up and running, however unfortunately I'm running into errors.

I followed [these instructions](https://narrafirma.com/home/setting-up-narrafirma-on-your-local-computer/) (NodeJS part). On step 4, open a browser and connect to the NarraFirma app, I can succesfully connect to the app, however I only see message 'Starting up the Narr

[2015-11-18 19:47] pdfernhout commented on #10
Thanks for trying NarraFirma. Sorry about the problem. I have updated the instructions on the page you referenced so they now include explaining how to compile the TypeScript files. Please let me know if that works for you now.

=== More details

Yes, for Node.js, as you correctly guessed, you would need to have compiled versions of the TypeScript code generated under webapp/js. You can check that

[2015-11-19 09:02] sidneygijzen commented on #10
Thank you Paul for the quick response and your detailed explanation! I will try the new instructions and report back in the coming days.

[2015-11-20 12:59] sidneygijzen commented on #10
Hello Paul,

The added step 3 in the aforementioned instructions was indeed the missing link in getting it up and running. After compiling the Typescript files, I could interact with the application (logging in, creating a survey, etc). Thank you!

[2015-11-20 13:35] sidneygijzen opened #11 "Help text and more descriptive error message on error creating journal"
Hello,

I was creating a new journal and attempted to create one with spaces in the journal name. I got a generic error saying that something went wrong, however taking a look at the node.js error server process output I saw the following

`... Error: addJournalSync: journalIdentifier contains unacceptable characters like leading periods or slashes\n    at addJournalSync ...`

So I assumed that sp

[2016-03-22 20:40] eliza411 opened #12 "Checkboxes don't save values"
When I create a question about a story and select the 'checkboxes' type, the question is displayed properly on the story collection form for "Enter stories > Add Stories...". When I add a story (or "Import story data from CSV file into story collection ...) and then review incoming stories, all checkbox values are displayed, regardless of what was entered.

When I choose "Export story collection..

[2016-03-23 17:24] cfkurtz commented on #11
Fixed this issue, sort of. Now in the admin interface, above the Journal name field, it says:

See commit bf0e0a2b8f17e10021850b1613a8d4aea4e856f4

This _should_ be supported with validation, but the information should "keep a finger in the dam" until we get around to implementing that.

[2016-03-23 17:24] #11 closed, assigned to nobody

[2016-03-23 17:35] cfkurtz commented on #9
I have added this information to the help system for questions about stories and participants:

I have also changed the code so that a smaller set of tags can be used for checkbox and radio button texts (in answers to questions). This also means that the same tags can be used in the texts of elicitation questions (which appear on the form as radio buttons beneath the "what question would you like

[2016-03-23 17:35] #9 closed, assigned to cfkurtz

[2016-03-23 17:38] cfkurtz commented on #5
I have improved the help on ignoring stories and how to permanently delete a story (using export and import). See commit 55c5eec22f2a4ba4faa281f91ae4412ab60903a0

[2016-03-23 17:39] cfkurtz commented on #6
Fixed. It was not getting the correct data for sliders (scales). See commit cf995d18c67f89394b9f9b332dab121e58f702eb

[2016-03-23 17:39] #6 closed, assigned to pdfernhout

[2016-03-23 18:03] eliza411 commented on #8
I can't reproduce this with Version 49.0.2623.87 (64-bit) so it seems fine to me to close this as "cannot reproduce" or "won't fix".

[2016-03-23 18:03] #8 closed, assigned to pdfernhout

[2016-03-25 16:51] cfkurtz commented on #12
Fixed this! It all came down to one misplaced assignment.

See commit 429768caa9e9e25bc83d153c2bebd6f9053e73a4

[2016-03-25 16:51] #12 closed, assigned to nobody

[2016-03-25 18:56] cfkurtz commented on #10
I added a "README-NodeJS.txt" file to the source code, in case people don't find the instructions on the web site. See commit 83305bdd4d53abcaccfa6816a65ea2262432ed2c

[2016-03-25 18:56] #10 closed, assigned to pdfernhout

[2016-03-29 17:44] eliza411 opened #13 "tsc error"
After pulling the latest commits to master (at 2a11f72d61d) and rebuilding narrafirma, I get the following error after running tsc from the narrafirma root directory. I haven't seen this one before and am not sure how significant it is. So, I mention it, but so far I haven't run into how it manifests, if at all, in the story browser as I'm working on data formatting first.

[code]

[2016-03-29 21:26] cfkurtz commented on #13
I think fa0d20107576cdcd3e77f5f499fc184ca7c23379 will fix that.

[2016-03-29 21:29] cfkurtz commented on #7
This is done! (abbab63090e0018b418df777b63e38d484b8d2b8) Now sliders have "Does not apply" check boxes (under them) that start out checked (because the slider has no value) and uncheck when the user drags the slider button. If the user decides they want to throw away the value they put in, they can check "Does not apply" again. The checkbox says "Does not apply" by default, but in this commit (9c8

[2016-03-29 21:29] #7 closed, assigned to nobody

[2016-03-29 21:42] eliza411 opened #14 "Questions about the user aren't labeled on the Review Incoming Story page"
I've created two fields about the user, a GroupID and a TellerID. When I fill out the form using NarraFirma or when I import data, either way, the field is displayed on the Review incoming stories form without the label and appear instead as:

[code]

[2016-03-30 20:17] cfkurtz commented on #14
Fixed. Was a result of adding a class for the story card field names, and in one case doing it wrong. b4688d2ca770045f27c6f19b565dce0b1bc854cb

[2016-03-30 20:17] #14 closed, assigned to nobody

[2016-04-13 02:05] bemosior opened #16 "The `tsc` package is now deprecated"
The `tsc` NPM package [description page](https://www.npmjs.com/package/tsc) indicates that the package is now deprecated and includes instructions to make use of [`ntypescript`](https://www.npmjs.com/package/ntypescript).

I gave `ntypescript` a try in #15, and it seemed to work.

@pdfernhout also mentions:

The official TypeScript repository is [here](https://github.com/Microsoft/TypeScript).

[2016-04-13 02:26] bemosior opened #17 "Explicitly defining NPM dependencies"
Per @pdfernhout:

The above is a reasonable position to hold, and I wholeheartedly support it. However, is there value to _additionally_ defining the dependencies at particular versions within `package.json`?

Doing so would cause the project's dependencies and their versions to be clearly listed in a single, coherent place. Besides making project dependency metadata clear, it would also enable an

[2016-04-17 15:56] pdfernhout commented on #16
@bemosior In the file "Install.md", we mention how to use "npm install -g typescript" to install the TypeScript compiler which is needed for building. So, there isn't currently a dependency on the npm "tsc" package that I see in package.json -- even though there is a  "tsc" command used there which is installed from the "typescript" package to run the compiler. I agree that if we improve the npm d

[2016-04-17 15:56] #16 closed, assigned to nobody

[2016-04-17 15:58] bemosior commented on #16
Makes sense, I think I misunderstood originally!

[2016-04-17 16:58] pdfernhout commented on #17
@bemosior You have a good point about potential confusion by there being three node_modules directories (one at the top which was used to import libraries for the webapp, one for the Node.js server, and one for developer tools). It would be good to resolve this, but I'm not sure how yet. And when we do resolve this, I agree, it would be good to explicitly specify the dependencies in a package.json

[2016-04-17 19:39] bemosior commented on #17
Thank you for providing additional context. I understand what's going on now. My suggestion of consolidation would be inappropriate, because we truly have three separate but related projects (and potentially more in the future) together in one repository. We also have a separate issue with how we vendor dependencies (checking them in or otherwise hosting them internally), as it pertains to develop

[2016-04-18 00:48] pdfernhout commented on #17
@bemosior Thanks for the additional suggestions. I'll have to think more over the next week about what your propose. Splitting the project into multiple repositories is certainly possible. But, it may to just create more confusion and development difficulties in practice through given the close coupling of the front-end and back-end -- creating more confusion than the issue of multiple node_module

[2016-04-18 01:54] bemosior commented on #17
Take your time! I'm happy if we leave this open for a bit and think on it.

A few links that reveal my bias (I admit to always separating front-end and back-end components when separate technologies and frameworks are involved):
- http://dontpanic.42.nl/2014/10/the-case-for-separating-front-and-back.html
- https://divshot.com/blog/opinion/every-web-app-is-two-apps/

Something a bit more balanced:

[2016-09-13 19:04] cfkurtz opened #21 "Save changes button not activated on setup page"
When you modify an existing project by adding "write users" the save changes button does not activate. But when you select the survey field it does.

[2016-09-13 19:05] cfkurtz opened #22 "Wrong behavior with no-project login"
When you go to the projects page with a login that does not have a project, the "login" link leads to [siteURL]/login.php instead of wp-login.php

[2017-03-16 12:56] hvgard opened #23 "It would be nice to have button back to "all" projects"
When I want to go back to "all" my projects I need to restart from wordpress instead of having a button that leads me back to the all projects overview.

<img width="1874" alt="schermafbeelding 2017-03-16 om 13 42 05" src="https://cloud.githubusercontent.com/assets/26460757/23997080/33d3fd3a-0a50-11e7-8aa0-212af74f3a98.png">

[2017-03-16 18:24] hvgard opened #24 "css "automatic" for text fields?"
When there is more than one line of text in a text field it is hard to get an overview of what is on a page as the pane doesn't automatically scale to "show all". At least it would be useful if these multi-line fields show say 5 or 10 lines by default. I'm not a css expert but I think that is the automatic setting.

[2017-09-27 20:10] cfkurtz commented on #24
Fixed in commit bfee32bef9a109200e0f5981fc8972edb18c22db. Min height set to 5em. Had not wanted to set this very large before, because the pages become super long; but the opposite problem is not being able to read the stuff you wrote the last time you were there. So a 5-row-minimum text area seems okay. (The default setting in HTML is actually 2 lines.)

[2017-09-27 20:10] #24 closed, assigned to nobody

[2017-09-27 20:12] cfkurtz commented on #23
Done in commit 2f26606a3c11d8f2549b815a1d440ef9e511bccf (and mistakes doing it fixed in two later commits). Now there is a "Choose another project" link in the main page for each project.

[2017-09-27 20:12] #23 closed, assigned to nobody

[2017-10-05 19:02] cfkurtz commented on #22
Fixed in b29565eec143cae135daa66abe009f303e513394

[2017-10-05 19:02] #22 closed, assigned to cfkurtz

[2017-10-05 19:41] cfkurtz commented on #21
This should not be changed, as otherwise we would have to respond to onkeyup, which would cause a lot more updating of the page and might not work on some browsers. I think people can figure this out.

[2017-10-05 19:41] #21 closed, assigned to cfkurtz

[2018-10-09 15:22] sidneygijzen opened #26 "Back to Administration screen button?"
Hello,

Today I was testing a lot with importing story forms and entries. For every test session I would create a new project, so I had no interference from previous tests. So I had to switch back and forth between the 'project application' and the 'administration tool'. While working with the project application, I couldn't find an easy way back to the administration tool. E.g. by means of a butt

[2018-10-09 15:29] sidneygijzen commented on #5
This thread, especially the reply from @pdfernhout, provided a lot of valuable information today. Thanks! I now have a way to delete all my test projects :-)

I would like to suggest to incorporate the information on how to delete projects (and why it's by design it isn't possible out-of-the-box) in the help somewhere.

[2018-10-10 16:15] cfkurtz commented on #26
Thanks Sidney! I am going to add this to the to-do list for my next "pulse" of work which is coming up very soon.

[2018-10-10 16:29] cfkurtz commented on #5
Good point. I am going to raise a new issue to add this explanation to the help system (in a new "administration" help page or something, so it doesn't confuse people looking for less technical help).

[2018-10-10 16:31] cfkurtz opened #27 "Add explanation of how to delete stories and projects permanently to help system"
This is prompted by a comment that our explanation of why it's hard to delete stories and projects, and how to actually do it, is hard to find (it exists only in the issues on GitHub). I plan to take the explanation and copy it to the help system under a new "Administration" help page (or something).

[2018-10-10 17:49] sidneygijzen commented on #26
You're welcome Cynthia. Good to hear!

[2019-02-14 23:08] cfkurtz commented on #26
This was fixed/addressed in release 1.2.0.

[2019-02-14 23:08] #26 closed, assigned to nobody

[2019-03-11 15:57] hvgard opened #29 "Suggestion: ability to filter on story length and full text."
I love the filter option in the configure catalysis report. Two suggetions:
1) ability to filter on story length as that helps selects stories of appropriate length for people to read in sensemaking sessions.
2) ability to filter on words or phrases in stories

[2019-03-11 15:59] hvgard opened #30 "Suggestion: add time/trend graphs"
When PNI is used to collect stories over time of periodically trends may emerge of changes may occur over time. Is there a way to handle that in NF?

[2019-10-02 08:35] thatsenam opened #31 "unable to deploy in heroku [NodeJS Version]"
Error

 NarraFirma@1.4.1 start /app
2019-10-02T08:27:45.508257+00:00 app[web.1]: > cd server && npm start
2019-10-02T08:27:45.508259+00:00 app[web.1]:
2019-10-02T08:27:45.986538+00:00 app[web.1]:
2019-10-02T08:27:45.986575+00:00 app[web.1]: > server@1.0.0 start /app/server
2019-10-02T08:27:45.986577+00:00 app[web.1]: > node NarraFirmaServer.js
2019-10-02T08:27:45.986579+00:00 app[web.1]:
2019-10-0

[2019-10-31 00:47] cfkurtz commented on #31
I'm sorry for not getting to this sooner. Everybody: if we do not respond to an issue quickly, please send a reminder email to cfkurtz at cfkurtz dot com.

This error happened because you did not set a superuser password. You need to do that via a command-line argument. See the instructions in "README-NodeJS.txt" specifically step 4. You will need to access the heroku command-line interface (CLI).

[2020-05-11 09:46] hvgard opened #32 "Delected projects seems not really deleted"
When I delete a project (using the Wordpress plugin) and later (sometimes months) add a new project with the same name, it turns out the old project is not deleted. How can I really delete a project. If only to avoid use of server diskspace.

[2020-06-22 14:10] hvgard opened #33 "Expand "save view box" to multiple lines"
The save selection option is great, but the box for saved selections would benefit from being multiline instead of single line.

<img width="1645" alt="Schermafbeelding 2020-06-22 om 16 04 56" src="https://user-images.githubusercontent.com/26460757/85297128-aee27600-b4a2-11ea-9c26-cfb99592a8aa.png">

[2020-07-05 14:52] #31 closed, assigned to nobody

[2020-07-05 14:53] #13 closed, assigned to nobody

[2020-07-05 14:54] #17 closed, assigned to nobody

[2020-08-05 23:17] Salishsea86 commented on #30
We have been doing that by adding a drop-down menu for the user to enter the month their story was entered.  Not a perfect workaround, and requires some hand correcting, but does the trick.  Timestamps for entries would be insanely useful as we are also using NarraFirma for longer range monitoring of trends and patterns.

[2020-11-25 07:56] BurningDog opened #34 "/api/pointrel20150417 returns home page in WordPress instead of JSON"
Hi! I'm trying to install NarraFirma on Wordpress. https://wordpress.org/plugins/narrafirma/ says its tested up to Wordpress version 5.2.9 so I'm trying that first (even though latest Wordpress is 5.5.3).

I've followed the installation instructions and created a project. I have a single user (the administrator) and I've given that role access to SURVEY, READ and WRITE.

When I then click "Start N

[2020-11-26 01:07] pdfernhout commented on #34
Hi Roger,

Thanks for the detailed bug report. Sorry you are encountering this issue.

To help troubleshoot this, here is a URL for a working installation of NarraFirma for WordPress:
https://narrafirma.com/wp-content/plugins/narrafirma/webapp/narrafirma.html#project=Blank%20NarraFirma%20project&page=dashboard

That installation makes an API call to this URL when accessing a regular non-admin proj

[2020-12-19 08:19] BurningDog commented on #34
Thanks for the reply - and apologies for my late response, I'm only coming back to this now.

https://narrafirma.com/wp-admin/admin-ajax.php?action=pointrel20150417 returns a JSON response (expected).

But on my site `/wp-admin/admin-ajax.php/?action=pointrel20150417` returns the home page of my site as html.

I'm going to keep digging. (This is on a fresh installation of both Wordpress 5.2.9 and

[2020-12-19 08:34] BurningDog commented on #34
Ah! I found the issue! I'm using [Bedrock](https://roots.io/bedrock/) to run Wordpress, as I prefer the 12 Factor App approach for web development, and the ability to use version control. This changes some paths. Wordpress is now available at `/wp` and plugs in in `/app/plugins`.

This changes the path of where NarraFirma is installed, and the `calculateAjaxPath()` function in `narrafirma.html` ch

[2021-08-30 22:41] cfkurtz commented on #33
Done, will be released in version 1.5.0

[2021-08-30 22:41] #33 closed, assigned to nobody

[2021-08-31 05:28] hvgard commented on #33
Thanks Cynthia. Looking forward to it.

[2021-09-15 23:21] cfkurtz commented on #34
Hi, thank you so much for finding and posting this solution. I am sorry to have taken so long to get to this. Your approach seems reasonable! I have added it, in commit [c9c122d577a4b8868ce603badabbb7d10f45740c](https://github.com/pdfernhout/narrafirma/commit/c9c122d577a4b8868ce603badabbb7d10f45740c).

[2021-09-15 23:21] #34 closed, assigned to nobody

[2021-09-17 18:55] cfkurtz commented on #30
This feature is being added in NF 1.5.0. :)

[2021-09-17 18:55] #30 closed, assigned to nobody

[2021-09-17 21:14] cfkurtz commented on #29
I have added both of these things in NF 1.5.0.

[2021-09-17 21:14] #29 closed, assigned to nobody

[2021-09-22 20:07] cfkurtz commented on #5
I have improved the description of ignoring versus deleting on the "Review incoming stories" help page, and I've added a link to the explanation on the main Help page. That should help.

[2021-09-22 20:07] #5 closed, assigned to cfkurtz

[2021-09-22 20:17] cfkurtz commented on #27
I did this.

[2021-09-22 20:17] #27 closed, assigned to cfkurtz

[2021-09-22 21:47] cfkurtz commented on #32
Yes, sorry. This was a bug. I have fixed it. You can now "Archive" a project, which will hide it from view correctly.

However, I still do not want to have a one-click option that destroys an entire project in a second. After all, in most NarraFirma use cases, projects don't take up much space on the server. It is only with massive projects that a space-clearing capability is needed. Preserving pr

[2021-09-22 21:47] #32 closed, assigned to nobody

[2021-09-29 18:20] sfqua opened #36 "Narrafirma Webapp Not Loading"
Hi hi,
The webapp for Narrafirma on Wordpress doesn't seem to be loading any more. It was working last week, and I can't tell if an update has gone through? The menu of projects now is arranged differently than before - it previously was more vertically oriented... so that's my only clue that maybe something changed? Could it be my actual Wordpress installation? Or something else?

Here are screen

[2021-10-03 23:14] cfkurtz commented on #36
Hi Fisher, I am sorry I did not notice this right away. Yes, that's version 1.5.0, and you must have the auto-update version turned on.

The spinning wheel appeared after you clicked on "Start NarraFirma," I am guessing. Could you open your browser's development console and tell me what it says there (or show me a screenshot)?  That should help me understand what is happening.

[2021-10-03 23:53] sfqua commented on #36
Hi Cynthia,
Thank you so much for the help!

Here's a screenshot.
-Fisher
[image: Screenshot 2021-10-03 185238.png]

On Sun, Oct 3, 2021 at 6:14 PM Cynthia Kurtz ***@***.***>
wrote:

--
S. Fisher Qua
​206-734-7385 | back-loop.com *|* upcoming in-person and virtual learning
sessions <http://www.alpinistaconsulting.com/upcoming-events>​

[2021-10-04 02:28] pdfernhout commented on #36
Hi Fisher. The screenshot is not visible for some reason.

[2021-10-04 02:34] sfqua commented on #36
Hmm strange. I'll try again tomorrow if I can. Supposed to be driving for
the full day to deep west Texas!

On Sun, Oct 3, 2021, 9:28 PM Paul D. Fernhout ***@***.***>
wrote:

[2021-10-04 13:37] sfqua commented on #36
Try this?

Also - Cynthia - your new book is fantastic!

Saw your note and Finite and Infinite Games. A personal favorite, too.

On Sun, Oct 3, 2021, 9:33 PM S Fisher Qua ***@***.***> wrote:

[2021-10-04 16:26] cfkurtz commented on #36
Still no screenshot. How did you post the first two screenshots? Try doing that again?

Thanks for the kind words on the book :) The only fan letter I ever sent in my life was to James P. Carse. HE RESPONDED!

[2021-10-04 22:33] sfqua commented on #36
I know what happened. I was just replying to this thread by email and attaching the screenshot to it.

[Screenshot](https://drive.google.com/file/d/1voDMyUWVL4SyA2P6_2YL4lAtxVAgCE9g/view?usp=sharing)

My only experience writing to an author of note was Mary Stewart the British mystery novelist who wrote the Merlin books using old Welsh myths. She wrote back A LOT. It was pretty sweet.

[2021-10-05 16:58] cfkurtz commented on #36
That's essentially a 404 (resource not found) error. I didn't change how the NF choose-a-project page loads, and that page works on both of the WP installations I've been testing on. It could be a conflict with another plugin you have installed, or something else unique to your installation. The best way to troubleshoot the issue is probably over a Zoom call. I will contact you via email to see if

[2021-10-14 20:44] cfkurtz commented on #36
In case anyone else has this problem: we worked it out. @sfqua's BlueHost plugin was returning an HTML-format error message in the XMLHttpRequest "responseText" field, instead of the JSON-format data NarraFirma was expecting, and NF was hanging while trying to parse the content as JSON. (We could see the HTML error message by looking in the browser's debugger at the value of "httpRequest.responseT

[2021-10-14 20:44] #36 closed, assigned to nobody

[2021-12-01 23:04] dan-ingot opened #37 "Plugin not Loading on Wordpress"
Hi team. I've installed the NarraFirma plugin on a couple WordPress sites to test and it's not loading up the editor. After activating the plugin and navigating to the NarraFirma settings page from the WordPress dashboard, it shows a critical error then changes over to a  blank screen.

Error Details
=============
An error of type E_ERROR was caused in line 109 of the file /srv/htdocs/wp-content/p

[2021-12-01 23:56] cfkurtz commented on #37
Huh. Line 109 is

(meaning, if no options data structure exists, create a default one). The function "defaultOptions" is in the same file as the function call (narrafirma.php), and the function is defined above the function call, so WP should have no problem finding it (it should not be an "undefined function").

From what I read, this error seems to come up when (a) another plugin or theme confli

[2021-12-02 22:06] dan-ingot commented on #37
Hi Cynthia, thanks for your response and explanation. I have tried installing on another Wordpress install on a default theme (twenty twenty-one) with no other plugins activated and got the same critical error message. The plugin was installed via the 'add new' plugin option as apposed to the upload plugin method so believe the plugin should have installed correctly.

Is there perhaps an archive o

[2021-12-03 01:43] cfkurtz commented on #37
Dan, thanks so much for reporting this bug. We have now replicated it, and we think we have fixed it. Could you update the NarraFirma plugin to version 1.5.5 and tell me if it works correctly now?

I still don't understand exactly why this happened, but in the course of ticking off a "to do" item, I recently moved a few lines of code out of the "install" function (in narrafirma.php) into a new "de

[2021-12-03 02:07] dan-ingot commented on #37
Thanks so much. Glad it turned out to be something relatively simple! Have updated the plugin and that is working for me now. Appreciate your speed in getting that sorted!

[2021-12-03 02:08] cfkurtz commented on #37
Very glad to hear it, and sorry for the bother. I will be more careful messing with the PHP in the future!

[2021-12-03 02:09] #37 closed, assigned to nobody

[2021-12-21 11:37] hvgard opened #38 "Why does NF show a project w/o anyone being logged in?"
Hi Cynthia,

Today I updated to NF 1..5.1 and noticed that when I'm not logged in, the NF home screen shows:

<img width="1523" alt="Screenshot 2021-12-21 at 10 58 11" src="https://user-images.githubusercontent.com/26460757/146910554-fe1c5ae1-ed4f-4909-828a-772900b0b437.png">

Below is the JSON that is currenly in use:
{
    "NarraFirmaProject-Reigershoeve": {
        "write": [
            "admin

[2021-12-21 18:07] cfkurtz commented on #38
Thanks for troubleshooting this! Yes, it does appear that if you enter a WordPress user id or role in the "read" permission slot, and then remove it again, NF acts as if you have given anonymous read permission. We have replicated the bug on our test WordPress server. We cannot get it to happen for write permission, only for read. We are looking into what causes the error and should release a fix

[2021-12-21 20:19] hvgard commented on #38
Hi,

that makes sense. I never used “read” before. Today I did and …. bingo.

THANKS for chasing this with so much priority.

Harold

dr. Harold F. van Garderen
Architect opgavematig besturen, continue participatief evalueren en maatschappelijk verantwoorden

M	+31 6 2909 7305
E	***@***.***
W	www.4vitae.nl
T	@hvgard
L	nl.linkedin.com/in/haroldvangarderen

[2021-12-21 20:22] cfkurtz commented on #38
All right, we figured out where the problem was, and we have released a new version (1.5.7) with a fix. Please update your WordPress plugin to version 1.5.7.

What happened was, we did not realize that when a user deleted the text of the HTML input field specifying a type of permission, it was not storing a null or other non-data value in that place, but an actual empty string (""). We also did no

[2021-12-21 20:22] #38 closed, assigned to nobody

[2022-01-13 03:39] CCorrigan86 opened #39 "Can't load questions into a story form"
Was helping a friend today create a new story form with the latest build and there seemed to be no way for the user to load questions into the story form.  The arrows that move questions from the question list into the forms aren't working on both Safari and Chrome.  She has sent a separate request to Cynthia I just wanted to log it here. Working on a Mac with the latest version of NF WP plugin, a

[2022-01-13 17:26] cfkurtz commented on #39
I am working on this today. The workaround is (probably) to try it on Firefox, which is what I use. I never thought of testing such basic functionality elsewhere, but I will try to replicate the bug now and fix this today if possible.

[2022-01-13 17:30] cfkurtz commented on #39
Hm. I just tried this on Chrome and and Safari, and it worked fine on both. I don't think it's a browser issue. More detective work will be necessary. Chris, I have asked them to send me the project so I can see where the problem might be. I am guessing now that it has something to do with the specific project. I did change how the questions link to the story form, so there could be a legacy issue

[2022-01-13 23:15] CCorrigan86 commented on #39
You should be getting an email fromKate McKegg.  It was borked on her end
yesterday when we tried it.

Thanks for looking into it!
C

On Thu, Jan 13, 2022 at 9:30 AM Cynthia Kurtz ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh terri

[2022-01-13 23:28] cfkurtz commented on #39
Thanks. I got Kate's email, loaded her project, and found the bug. The problem was, I forgot to test the new question-linking functionality with an entirely new story form, so I didn't notice that I forgot to deal with the possibility of the data structure not existing at all when I tried to edit it. It was a hole in my testing that would probably not have happened if we had a "real" tester on the

[2022-01-14 21:00] cfkurtz commented on #39
This issue should be fixed in release 1.5.8, which I have just uploaded. Please update your installation of NF and check that it works for you.

[2022-01-27 22:06] cfkurtz commented on #39
I received word (via email) from the original user who found the bug that they have verified that it is indeed fixed, so I am closing this issue.

[2022-01-27 22:06] #39 closed, assigned to nobody

[2022-02-18 23:18] Salishsea86 opened #41 "Select stories for copying doesn't return edited stories"
Working on a project in which we need to redact proper names fromthe story collection.  It is no problem to go into the collection and edit the stories, but when I make a selection on a catalysis graph and chose "Open selection in a window for copying" the story texts that are returned are not the edited ones, but the original versions on the stories that were entered through the survey tools.  Th

[2022-02-18 23:27] Salishsea86 opened #42 "Questions not ordering correctly"
It seems the question ordering function is broken:
<img width="360" alt="Screen Shot 2022-02-18 at 3 25 16 PM" src="https://user-images.githubusercontent.com/53875453/154774174-9867229c-017d-4b4e-a1a7-1294d81ca733.png">

Previiusly putting an "a" next to the number in the question order would insert it properly between ntwo questions.  That seems to be broken now.

I have worked around this by ord

[2022-02-22 18:41] cfkurtz commented on #42
Hi, um, the method of ordering questions has completely changed as of version 1.5.0. You don't have to type in numbers (or letters) anymore. So I can't really fix this bug, because the code where it resided no longer exists. You might want to update your copy of NarraFirma and use the new question-ordering system.

[2022-02-22 19:03] cfkurtz commented on #41
Well would you look at that. Thank you so much for discovering this problem. It has probably been there from the beginning. I am just looking at it now. It looks like the mechanism by which the stories are retrieved for reporting in the table under the graph is not the same mechanism by which the stories are retrieved for reporting in the popup window. I will have to go into this very carefully an

[2022-02-22 19:13] Salishsea86 commented on #41
Thanks!  I'm glad I was able to discover it clearly enough to be found.
This will save me a ton of work!  Much appreciated.

Chris

On Tue, Feb 22, 2022 at 11:03 AM Cynthia Kurtz ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territ

[2022-02-22 19:23] Salishsea86 commented on #42
Okay...got it...thanks!

C

On Tue, Feb 22, 2022 at 10:41 AM Cynthia Kurtz ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territory,

[2022-02-22 19:24] Salishsea86 commented on #42
Oh yay!  All updated!

C

On Tue, Feb 22, 2022 at 11:23 AM Chris Corrigan ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territory,

[2022-02-23 18:18] #42 closed, assigned to nobody

[2022-02-23 18:20] cfkurtz commented on #41
Okay, this bug is fixed in release 1.5.12. Thank you so much for pointing out the problem. I explain what caused the bug in the release [blog post](https://narrafirma.com/2022/02/23/release-1-5-12/). Please update your NF installation and verify that it works for you.

[2022-02-23 18:25] Salishsea86 commented on #41
Thanks so much!  Appreciate your explanation.

C

On Wed, Feb 23, 2022 at 10:20 AM Cynthia Kurtz ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territory,

[2022-02-23 18:30] Salishsea86 commented on #41
Also, forgot to tell you that it works.  It works!

C

On Wed, Feb 23, 2022 at 10:25 AM Chris Corrigan ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territory,

[2022-02-23 19:58] cfkurtz commented on #41
I am glad to hear that. :)

[2022-02-23 19:58] #41 closed, assigned to nobody

[2022-02-24 00:03] Salishsea86 opened #43 "Survey not loading"
I am working with an existing collection and a story form I created in v1.4 and today (on v1.5.12) edited the story form to add some introductory text.  When I make the form live again I get an error that starts like this....thoughts?

Something went wrong loading the survey questionnaire from the server:
{"status":200,"message":"{\"success\":true,\"statusCode\":200,\"description\":\"Success\",\"t

[2022-02-24 00:13] Salishsea86 opened #44 "STory form questions getting "stuck""
Some questions, when I transfer them over to the for, get stuck and stay in the Question pool.  Wonderingn if this is breaking my form
<img width="991" alt="Screen Shot 2022-02-23 at 4 11 58 PM" src="https://user-images.githubusercontent.com/53875453/155432380-91d42c2a-6380-43c4-b77c-af6a2b25e568.png">

[2022-02-25 19:34] cfkurtz commented on #44
Thank you so much for telling us about this bug! It has been fixed in release 1.5.13.

What happened was, you had an extra space at the start of one of your question short names, and it didn't match up to another copy of the name that looked identical but was not. I have changed the relevant code so that it trims out leading or trailing spaces in both places.

[2022-02-25 19:34] #44 closed, assigned to nobody

[2022-02-25 19:38] cfkurtz commented on #43
Thank you so much for telling us about this bug! It has been fixed in release 1.5.13.

What happened was, in two of your choice questions, you had extra blank lines in your available-answers lists. I thought I was trimming out such empty lines, but when I looked at the code that did it, I realized that I had accidentally used the "map" function instead of the "filter" function. Duh. So instead of

[2022-02-25 19:38] #43 closed, assigned to nobody

[2022-02-25 19:46] Salishsea86 commented on #44
Wow...I'm amazed at this bug spotting talent of yours.

C

On Fri, Feb 25, 2022 at 11:34 AM Cynthia Kurtz ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territory,

[2022-03-11 05:01] Salishsea86 opened #45 "Questions not showing up on story cards"
When I go to print story cards, selected questions do not show up in the cards despite being selected.

![Screen Shot 2022-03-10 at 11 59 02 PM](https://user-images.githubusercontent.com/53875453/157805003-4eb53bc2-1090-4adf-a831-6cb5abb8dba9.png)
![Screen Shot 2022-03-10 at 11 59 45 PM](https://user-images.githubusercontent.com/53875453/157805080-7af18fda-3f42-4b02-b776-763d51995502.png)

If I se

[2022-03-11 19:08] cfkurtz commented on #45
HI, thanks for reporting the bug and for including screen shots! It looks like this is the same bug another user reported last week (via email). I fixed it in version 1.5.14. Could you upgrade your installation and see if it fixes the problem?

[2022-03-11 20:10] Salishsea86 commented on #45
Perfect!  Works now.  THanks!

On Fri, Mar 11, 2022 at 2:09 PM Cynthia Kurtz ***@***.***>
wrote:

--
---
CHRIS CORRIGAN
Blog and resources: http://www.chriscorrigan.com
Harvest Moon Consultants: https://www.harvestmoonconsultants.com

Located on Nex̱wlélex̱wm (Bowen Island), Sḵwx̱wú7mesh territory,

[2022-03-14 15:44] toddbarr opened #46 "Unable to export story collection"
Hello NarraFirma community,

I would like to export a story collection from last summer. I am logged in to the NarraFirma platform…but when I click on the button “export story collection…” nothing happens. Can anyone shed some light?

With thanks for considering,
Todd.

[2022-03-14 17:36] cfkurtz commented on #45
Glad it worked for you :)

[2022-03-14 17:36] #45 closed, assigned to nobody

[2022-03-14 17:40] cfkurtz commented on #46
Hi Todd, thanks for posting the issue. My first guess is that this is the same can't-export issue another user reported (via email) a few weeks ago. I fixed it in version 1.5.11. Could you update your installation of NarraFirma to 1.5.11 (or, better, to the latest version, 1.5.14 at this moment) and see if that fixes the problem?

If that doesn't work, could you send me an email (to cfkurtz@cfkurt

[2022-03-16 14:45] cfkurtz commented on #46
I have issued a tentative fix for this issue in version 1.5.15. I will keep this issue open until I hear back from you (via email) that it worked for you. (But it should!)

[2022-03-16 18:31] cfkurtz commented on #46
Okay, I heard back from Todd that the issue is fixed and his data exported correctly. He suggested that I post the explanation I gave him (in email) here, so other people could see it if they're looking at a similar issue. So here it is:

---

What seems to have happened was, you created a question of the type "checkboxes," then added some stories, then  changed the question type to "select," then

[2022-03-16 18:31] #46 closed, assigned to nobody

[2022-06-02 21:24] kymh007 opened #47 "unable to go live with survey or print survey form"
Something went wrong loading the survey questionnaire from the server:
{"status":200,"message":"{\"success\":true,\"statusCode\":200,\"description\":\"Success\",\"timestamp\":\"2022-06-02T21:19:10.546154925Z\",\"detail\":\"latest\",\"currentTimestamp\":\"2022-06-02T21:19:10.545521297Z\",\"latestRecord\":null}"}
<img width="1512" alt="Screen Shot 2022-06-03 at 9 19 32 AM" src="https://user-images.g

[2022-08-02 18:18] cfkurtz commented on #47
Everybody, we resolved this issue over email. Essentially, they had some kind of mismatch between their story collection and story form (possibly caused by changing the story form after creating the story collection?). Creating a new story collection and assigning the form to it fixed the problem. Thanks for letting us know!

[2022-08-02 18:18] #47 closed, assigned to nobody